UID=1000
GID=1000
FRESH_RSS_TIMEZONE=Europe/Paris

# Local
FRESH_RSS_PORT=8080

# Production
NB_MANAGEMENT_URL=https://netbird.domain.com

FRESH_RSS_NB_HOSTNAME=freshrss
FRESH_RSS_NB_SETUP_KEY=my_netbird_key
FRESH_RSS_DATA=/docker/freshrss/data
